<app-header> </app-header>
<!-- <div class="main" [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div> -->
<div class="main" >
  <app-all-sales class="example-box" cdkDragBoundary=".main" cdkDrag style="height: 100px;"></app-all-sales>
<app-debts class="example-box" cdkDragBoundary=".main" cdkDrag style="height: 100px;"></app-debts>
<app-wallet class="example-box" cdkDragBoundary=".main" cdkDrag style="height: 100px;"></app-wallet>
<app-sales class="example-box" cdkDragBoundary=".main" cdkDrag style="height: 100px;"></app-sales>
</div>
<!-- 
<div class="example-boundary">
  <div class="example-box" cdkDragBoundary=".main" cdkDrag>
    I can only be dragged within the dotted container
  </div>
</div> -->

<div class="links">
  <a class="link" [routerLink]="['/sales']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    <button mat-raised-button>PRODAJA</button>
  </a>
  <a class="link" [routerLink]="['/allsales']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    <button mat-raised-button>ARHIVA</button>
  </a>
  <a class="link" [routerLink]="['/wallet']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    <button mat-raised-button>BANKA</button>
  </a>
  <a class="link" [routerLink]="['/debts']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    <button mat-raised-button>KUMOVI</button>
  </a>
  <a   class="link" [routerLink]="['/products']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    
    <button mat-raised-button>PROIZVODI</button>
  </a>
  <a   class="link" [routerLink]="['/products']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    
    <button mat-raised-button>IZVJESTAJI</button>
  </a>
</div>