.products {
    display: flex;
}

.product {
    height: 160px;
    width: 100px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.all-sales {
    height: 500px;
    width: 500px;
    background-color: lightgrey;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.sales-wrapper {
    display: flex;
}

.wallets {
    height: 100%;
    width: 82px;
    background-color: #15b730;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    color: #0431e7;
}

.debts {
    // height: 
    min-width: 165px;
    width: 250px;
    background-color: #b7152c;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    color: white;
    font-family: monospace;
    font-size: 22px;
}